<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.captechventures.techchallenge2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/earthquake_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/earthquake_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".display_earthquake.DisplayEarthquakesActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display_earthquake.detail.EarthquakeDetailsActivity"
            android:parentActivityName=".display_earthquake.DisplayEarthquakesActivity"
            android:screenOrientation="portrait" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".display_earthquake.DisplayEarthquakesActivity" />
        </activity>
    </application>

</manifest>